body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color: #7C5931;
    font-size: larger;
    text-align: center;
}

h1{
    border: 10px solid #07080C;
    margin: 20px;
    padding: 20px;
    text-align: center;
    color: #8D1602;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

div{
    text-align: center;
}

button{
    background-color: #94AD9B;
    border-radius: 10px;
}

#banner{
    width: 30%;
    height: 10%;
    position: relative;
    left: 35%;
}

.container{
    margin: 0 auto;
}
