#fondo{
    background-image: url(fondo.png);
}

#afterhours{
    display: flex;
    position: relative;
    left: 30px;
    top: 30px;
    width: 20%;
}

#starboy{
    display: flex;
    position: relative;
    left: 30%;
    bottom: 30%;
    width: 20%;
}

#user{
    position: relative;
    bottom: 10%;
}

#fechas{
    position: relative;
    top: 100px;
    left: 60px;
}

#titulo{
    position: relative;
    top: 50px;
    left: 35%;
}

#thew{
    position: relative;
    left: 50px;
}

#registrar{
    position: relative;
    top: 330px;
    right: 320px;
}

#fondoDos{
    background-image: url(cromo.png);
}